@{
    ViewBag.Title = "Viewer Dashboard";
}

<h2>Welcome IT</h2>
<p>Hello, @Context.Session.GetString("UserName")</p>
<p>Your Role: @Context.Session.GetString("UserRole")</p>

<a asp-controller="User" asp-action="Logout">Logout</a>

